{% if is_granted('ROLE_USUARIO') %} {# el usuario está logueado #}

    {% include ':includes:flashes.html.twig' %}

    <div>
        </br>
    </div>

    <p>Conectado como <strong>{{ app.user }}</strong></p>

    <a href="{{ path('usuario_registro') }}">{{ "Ver mi perfil" | trans }}</a>
    <a href="{{ path('usuario_logout') }}">{{ "Cerrar sesión" | trans }}</a>

{% else %} {# el usuario todavía no ha hecho login #}

    {% if id != 'portada' %}
        <a class="boton" href="{{ path('usuario_registro') }}">{{ "Regístrate" | trans }}</a>
    {% endif %}

    <h2>{{ "Accede a tu cuenta" | trans }}</h2>

    <div class="container-fluid">
        <form action="{{ path('usuario_login_check') }}" method="post" accept-charset="UTF-8">
          <input id="username" style="margin-bottom: 15px;" type="email" name="_username" size="30" placeholder="Email address" required autofocus />
          <input id="password" style="margin-bottom: 15px;" type="password" name="_password" placeholder="Password" size="30" />
          <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="_remember_me" value="remember-me" />
          <label class="string optional" for="user_remember_me"> Remember me</label>

          <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Entrar" />
          </br></br>
        </form>
    </div>

{% endif %}