{% extends '::frontend.html.twig' %}

{% block title %}Compras, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%{% endblock %}
{% block id 'cart_summary' %}

{% block navbar %}
    {% include 'CompraBundle:Default:navbarFixed.html.twig' %}
{% endblock %}

{% block section %}
<div>
    </br>
</div>
<h4>{{ "Carrito de Compra" | trans }}</h4>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.producto }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precioUnitario }}</td>
            <td>{{ 'xxxxxxx' }}</td>
            <td>
                <div>
                    <a href="{{ path('shopping_cart_updateitem', { 'id': item.id }) }}">
                        <button type="button" class="btn btn-small">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>
                </div>
                <div>
                    <a href="{{ path('shopping_cart_removeitem', { 'id': item.id }) }}">
                        <button type="button" class="btn btn-small">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
{% else %}
    <tr><td>NO HAY ITEMS</tr></tr>
{% endfor %}
    </tbody>
</table>
  
{% endblock %}