{% extends '::frontend.html.twig' %}

{% block title %}Compras, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%{% endblock %}
{% block id 'orden_review' %}

{% block navbar %}
    {% include 'CompraBundle:Default:navbarFixed.html.twig' %}
{% endblock %}

{% block article %}

<div class="container-fluid">

<div>
    </br>
</div>
    
<h4>{{ "Revisa tú orden antes de comprar" | trans }}</h4>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% set precio = 0 %}
    {% set cart = 0 %}
    {% for item in items %}
        {% set precio = item.cantidad * item.precioUnitario %}
        {% set total = total + precio %}
        {% set cart = item.cart.id %}
        <tr>
            <td>{{ item.producto }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precioUnitario | number_format(2, ',', '.') }} Bs</td>
            <td>{{ precio | number_format(2, ',', '.') }} Bs</td>
        </tr>
{% else %}
    <tr><td>NO HAY ITEMS</tr></tr>
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" align="right"><b>{{ "Orden Total" | trans }}: </b>{{ total | number_format(2, ',', '.') }} Bs</div></td>
        </tr>
        <tr>
            <td colspan="5" align="right"><a href="{{ path('orden_create', { 'id': cart } ) }}"><button type="button" class="btn btn-primary btn-lg">Comprar</button></a></td>
        </tr>
    </tfoot>
</table>

</div>
{% endblock %}

{% block aside %}
    <section id="login">
        {{ render_esi(controller('UsuarioBundle:Default:cajaLogin', { 'id': block('id') })) }}
    </section>

    <section id="condiciones">
        <h2>Condiciones generales</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </section>
{% endblock %}